html, body {
    font-family: 'Roboto', sans-serif;
}

body {
    /*border: 2px solid red;*/
    padding: 0 10px;
}

#container {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 1em 1em 1em;
    /*border: 2px solid blue;*/
}

#title {
    font-weight: 100;
    /*border: 2px solid black;*/
}

#content {
    display: flex;
    flex-flow: row nowrap;
    /*border: 2px solid black;*/
}

.sub-section {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    /*border: 2px solid green;*/
}

.sub-section > div {
    /*border: 2px solid orange;*/
}

#map {
    position: relative;
}

#time-map {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 30px;
    font-weight: bold;
}

#missing-values {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    /*border: 2px solid black;*/
}

#missing-legend{
    position: absolute;
    bottom: 18%;
    right: 0;
    width: 15%;
    height: 8%;
}

#color-legend{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 31%;
    height: 15%;
}

#key-options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.row {
    margin: 0;
}

#blackscreen {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}

#loading-box {
    display: block;
    position: absolute;
    width: 500px;
    height: 300px;
    left: 50%;
    top: 50%;
    text-align: center;
    margin: -150px 0 0 -250px;
    z-index: 3;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

#loading-box > h3 {
    margin-top: 40px;
}

#loader {
    display: block;
    position: absolute;
    margin: -50px 0 0 -50px;
    left: 50%;
    top: 50%;
    border: 5px solid #f7f7f7;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.axis path {
    stroke: gray;
}

.axis line {
    stroke: gray;
}

#time-bar {
    padding-top: 10px;
}

#timestamp {
    font-size: 0.8em;
    font-weight: bold;
    color: steelblue;
    position: absolute;
    display: none;
}

#play-button {
    display: block;
    margin: 10px auto;
}

#play-button * {
    vertical-align: middle;
    font-size: 1em;
    font-weight: 400;
}

#pause {
    display: none;
}






#linechart img {
    width: 90%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#barchart img {
    width: 90%;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

